body {
  background-color: rgb(235, 255, 235);
  font-family: arial, sans-serif;
  margin: 0;
}

.content {
  margin-left: 15px;
}

.navbar {
  width: 100%;
  height: 70px;
  background-color: rgb(200, 240, 200);
}

.nav-button {
  float: left;
  text-decoration: none;
  background-color: rgb(200, 240, 200);
  color: rgb(20, 20, 20);
  transition-duration: 0.4s;
  height: 50px;
  padding-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  font-size: 18px;
}

.footer {
  background-color: rgb(200, 240, 200);
  color: rgb(20, 20, 20);
  text-align: center;
}

.useful-links {
  color: rgb(40, 40, 40);
}

.nav-button:hover {
  background-color: rgb(190, 230, 190);
}

h1 {
  text-align: center;
}

p.disclaimer {
  font-size: 1.1em;
  text-align: center;
}

.content {
  margin-top: 65px;
  margin-left: 20px;
}

.link:link,
.link:visited {
  color: rgb(50, 50, 255);
  text-decoration: none;
  transition-duration: 0.15s;
}

.link:hover,
.link:active {
  color: rgb(0, 0, 155);
}

p .last-updated {
  font-size: 0.7em;
  font-style: italic;
  color: #a0a0a0;
  margin-top: 30px;
}
