body {
  background-color: rgb(235, 255, 235);
  font-family: arial, sans-serif;
  margin: 0;
}

header {
  text-align: center;
  background-color: rgb(175, 240, 175);
  padding-top: 30px;
  padding-bottom: 40px;
}

.header-2 {
  padding-top: 15px;
  padding-bottom: 10px;
  background-color: rgb(165, 230, 165);
}

header h1 {
  margin: 0;
  font-size: 3.5em;
}

header h2 {
  font-size: 1.6em;
}

.content {
  margin-left: 15px;
}

h1 {
  text-align: center;
}

p.disclaimer {
  font-size: 1.1em;
  text-align: center;
}

.content {
  margin-top: 65px;
  margin-left: 20px;
}

a:link,
a:visited {
  color: rgb(50, 50, 255);
  text-decoration: none;
  transition-duration: 0.15s;
}

a:hover,
a:active {
  color: rgb(0, 0, 155);
}
