body {
  text-align: center;
  font-family: Arial, sans-serif;
}

.form {
  text-align: center;
  background-image: linear-gradient(-45deg, LightGray, White, WhiteSmoke);
  width: 850px;
  hight: 850px;
  border: 5px solid black; border-radius:10px;
}

.submitButton {
  padding: 15px 32px;
}
